<!DOCTYPE html>
<html>
<head>
  <title>Burgers!!!</title>
</head>
<body>
  {{{body}}}
  <form action="/cook" method="POST">
    <textarea></textarea>
    <button type="submit">Cook that burger!</button>
  </form>
</body>
</html>